.popover-body {
  padding: 10px !important;
}

.profile__popper {
  height: 60px;
  width: 60px;
  border: 1px solid #814096;
}

.profile__body {
  text-align: center;
  padding: 0 !important;
}

.profile__body h6 {
  margin-top: 15px;
}

.profile__body h6,
.profile__body p {
  font-size: 10px;
  margin-bottom: 6px;
}

.profile__body button {
  padding: 5px 10px !important;
  font-size: 10px !important;
  border-radius: 5px !important;
}
