/* @keyframes loading__spinner__content {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.loading__spinner__content div {
  position: absolute;
  animation: loading__spinner__content 1s linear infinite;
  box-sizing: border-box !important;
}

.loading__spinner__content div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: #292664;
}

.loading__spinner__content div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid #667395;
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0;
}

.loading__spinner__content div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid #94a9ce;
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0;
}

.loading__spinner__container {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.loading__spinner__content {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loading__spinner__content div {
  box-sizing: content-box;
} */

.loading__spinner {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loading__spinner__content {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading__spinner__content > div > div {
  transform-origin: 100px 100px;
  animation: loading__spinner__content 3.0303030303030303s linear infinite;
  opacity: 0.8;
}
.loading__spinner__content > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  transform-origin: 100px 100px;
}
.loading__spinner__content > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s;
}
.loading__spinner__content > div div:nth-child(1) > div {
  background: #74007a;
  transform: rotate(0deg);
}
.loading__spinner__content > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}
.loading__spinner__content > div div:nth-child(2) > div {
  background: #a53faa;
  transform: rotate(0deg);
}
.loading__spinner__content > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}
.loading__spinner__content > div div:nth-child(3) > div {
  background: #da70dc;
  transform: rotate(0deg);
}
.loading__spinner__content > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}
.loading__spinner__content > div div:nth-child(4) > div {
  background: #fab0fa;
  transform: rotate(0deg);
}
.loading__spinner__container {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f300;
}
.loading__spinner__content {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading__spinner__content div {
  box-sizing: content-box;
}
