footer {
  background-image: url('../../../assets/images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

#footer h3 {
  margin-bottom: 30px;
  color: #fff;
  display: inline-block;
  position: relative;
}

#footer h3::before {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #fff;
  width: 50px;
  bottom: -10px;
}

.about__us > p {
  text-align: justify;
  color: #d8cfcf;
  width: 90%;
}

#footer ul {
  list-style-type: none;
}

#footer ul li {
  margin-bottom: 10px;
}

#footer ul li a {
  color: #d8cfcf;
  transition: 0.7s;
}

#footer ul li a:hover {
  color: #0be010;
}

.phone {
  margin-bottom: 20px;
}

.mail {
  margin-bottom: 20px;
}

.flex__area {
  display: flex;
  align-items: center;
}

.flex__area i {
  background-color: #fff;
  color: #814096;
  padding: 10px;
  border-radius: 50%;
}

.flex__area p {
  color: #d8cfcf;
  margin-left: 20px;
}

.copyright {
  padding: 30px 0;
  text-align: center;
  color: #d8cfcf;
}

@media only screen and (max-width: 1060px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 770px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
