.orders__details {
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.delete {
  position: absolute;
  content: '';
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.delete:hover {
  cursor: pointer;
}

.order__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 5px;
}

.order img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.order__details h5 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
}

.order__details h6 {
  margin-top: 7px;
  font-weight: 500;
  font-size: 14px;
}

.order__details p {
  margin-top: 7px;
  font-size: 12px;
  font-weight: 700;
}

.orders__details h4 {
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 7px;
  border-radius: 5px;
}

.order__pending {
  color: #a2893e;
  background: #ffbb3e4b;
}

.order__rejected {
  color: #ff4545;
  background: #ffbbbb70;
}

.order__shipped {
  color: #009444;
  background: #c6ffe063;
}

@media only screen and (max-width: 450px) {
  .order {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .order img {
    display: block;
    margin: 0 auto;
  }
}
