@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

input,
button {
  font-family: inherit;
}

*::selection {
  background-color: #f83292;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

button:focus {
  outline: 0;
}

.brand__color {
  background-image: linear-gradient(90deg, #814096, #f83292);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.brand__button {
  padding: 13px 50px 13px 30px;
  border-radius: 35px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(to right, #814096, #f83292);
  transition: all 0.8s;
  display: inline-block;
  position: relative;
  border: 0;
}

.brand__button:focus {
  outline: 0;
}

.brand__button:hover {
  background-image: linear-gradient(to right, #f83292, #814096) !important;
  letter-spacing: 1.5px !important;
}

@media only screen and (max-width: 1550px) {
  .container {
    width: 92%;
  }
}
