.add__product {
  margin: 0 0 50px 0;
}

.add__product h3 {
  padding: 20px;
  background-color: #fff;
  color: #333;
  font-weight: 500;
}
.warning__text {
  background: #febf019c;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.add__product__form {
  padding: 50px 30px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;
  align-content: center;
}

.add__product__form .add__button {
  margin: 60px auto 0 auto;
  grid-column: span 2;
}

.add__product__form .brand__button {
  padding: 10px 30px;
}

.add__product__form .inputs {
  height: 40px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.add__product__form .inputs input,
.add__product__form .inputs textarea {
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
  display: block;
}

.add__product__form .inputs textarea {
  height: 150px;
}

.add__product__form .inputs input:focus,
.review__input .inputs textarea:focus {
  border-color: #f83292;
}

.add__product__form .inputs label {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  font-size: 16px;
  transition: 0.3s;
}

.add__product__form .inputs input:focus ~ label,
.add__product__form .inputs textarea:focus ~ label,
.add__product__form .inputs input:valid ~ label,
.add__product__form .inputs textarea:valid ~ label {
  transform: translateY(-25px);
  color: #f83292;
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputFile + label {
  font-size: 1em;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(90deg, #814096, #f83292);
  display: inline-block;
  padding: 8px 20px;
  border-radius: 10px;
}

.inputFile + label .fa-upload {
  margin-right: 15px;
}

.inputFile:focus + label,
.inputFile + label:hover {
  background-image: linear-gradient(90deg, #f83292, #814096);
}

.inputFile + label {
  cursor: pointer;
}

.inputFile:focus + label {
  outline: 1px solid #f83292 !important;
}

@media only screen and (max-width: 770px) {
  .add__product__form {
    display: block;
  }

  .input__sm {
    margin-top: 150px;
  }

  .add__product__form .add__button {
    margin: 0 auto 0 auto;
  }

  .inputFile + label {
    font-size: 1em;
  }
}
